body {
  font-family: 'Trebuchet MS', verdana, Arial, Tahoma, 'Times New Roman', Georgia, Garamond, 'Courier New';
  background-image: url('./images/NDU\ Logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
}

.cardsDiv {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px;
  background-color: #f4f4f4;
  /* object-fit: contain; */
  margin: 0 auto; /* center horizontally */
  text-align: center;
  overflow: hidden;
  max-width: 1200px; /* or whatever maximum width you want */
  width: 90%;
  max-height: 50%; /* so it is responsive */
}

.card{
  transition: all .5s ease-in;
  max-width: 200px;
  margin: 10px 5px;
  border-radius: 10px;
  justify-self: center;
  overflow: hidden;
  
}

.rootDiv {
  text-align: center;
  overflow-anchor: none;
}

img {
  max-width: 250px;
  max-height: 120px;
  border-radius: 50%;
  padding: 10px 0;
  transition: all 1s ease-in-out;
}

img:hover{
  transform: scale(1.1);
}

.card:has(img:hover) {
  background-color:#7CC3E3;
  padding: 5px;
  overflow-anchor: none;
  overflow: hidden;
  max-height: 100vh;
}

img:hover + .studentInfo {
  display: block;
  background-color: #7CC3E3;
  animation: easeIn 2s;
  overflow-anchor: none;
  max-height: 100vh;
  text-transform: uppercase;
  font-size: 12px;
}

.studentInfo {
  text-align: center;
  display: none;
  animation: easeIn 2.5s;
  padding: 5px;
  border-radius: 10px;
  overflow-anchor: none;
}

h1 {
  letter-spacing: 10px;
  font-size: 40px;
  text-transform: uppercase;
  color: #E29040;
}

@keyframes easeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
